<%- include ('../partials/header') %>
<div class="container my-5">
    <header class="jumbotron ">
        <h1>Contact Me </h1>
        <p>My Name is Jeewan Bhusal. I am currently studying Computer Programming at Georgian College.</p>
    </header>
    <form>
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname">
    </form>
      <button>Send</button>
</div>
<%- include ('../partials/footer') %>